.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color:#8F8C40;
}

.gallery-head {
  display: flex;
  justify-content: space-between;
  width: 65%;
  max-width: 1200px;
  margin-bottom: 20px;
  align-items: center;
}

.gallery-head h2 {
  margin: 0;
  color: #fff;
}

.gallery-back {
  padding: 10px 20px;
  background-color: #fff;
  color: #8F8C40;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.land-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.land-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.land-info {
  padding: 15px;
}

.land-info p {
  margin: 10px 0;
  color: #555;
}

.buy-button {
  padding: 10px 15px;
  background-color: #8F8C40;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.error-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}
.land-card-g {
  width: 87.5%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.loader {
  width: 85px;
  height: 50px;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, #fff 0);
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
}

@keyframes l9 {
  0% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
  25% {
    background-size: 25px 100%, 25px 50%, 25px 50%;
  }
  50% {
    background-size: 25px 50%, 25px 100%, 25px 50%;
  }
  75% {
    background-size: 25px 50%, 25px 50%, 25px 100%;
  }
  100% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
}
