.land-reg-div {
  background-color: #8f8c40;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.land-reg-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  background-color: #fff;
  height: auto;
  border-radius: 10px;
}
.land-reg-form input[type="number"],
.land-reg-form input[type="text"] {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 70%;
  padding: 10px;
  margin-left: 15%;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.land-reg-form label {
  padding: 5px;
  margin-left: 16%;
  letter-spacing: 2px;
}
.file-upload-button {
  display: inline-block;
  cursor: pointer;
  background-color: #8f8c40;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 20px;
  height: 40px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="file"] {
  display: none;
}
.land-reg-form button {
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 86px;
  letter-spacing: 2px;
  background-color: #8f8c40;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 71%;
  font-size: 16px;
}
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 45px;
  width: 100px;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  letter-spacing: 2px;
}
/* Loader CSS */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.loader {
    width: 85px;
    height: 50px;
    --g1:conic-gradient(from  90deg at left   3px top   3px,#0000 90deg,#fff 0);
    --g2:conic-gradient(from -90deg at bottom 3px right 3px,#780f0f00 90deg,#fff 0);
    background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
    background-position: left,center,right;
    background-repeat: no-repeat;
    animation: l9 1s infinite;
  }
  @keyframes l9 {
    0%   {background-size:25px 50% ,25px 50% ,25px 50%}
    25%  {background-size:25px 100%,25px 50% ,25px 50%}
    50%  {background-size:25px 50% ,25px 100%,25px 50%}
    75%  {background-size:25px 50% ,25px 50% ,25px 100%}
    100% {background-size:25px 50% ,25px 50% ,25px 50%}
  }