.user-profile-div{
    background-color: #8F8C40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-profile-div img{
    height: 50px;
    width: 200px;
    margin: 20px;
    object-fit: contain;
}
.profile-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.profile-header button{
    height: 45px;
    width: 100px;
    letter-spacing: 2px;
    border: none;
    color: #8F8C40;
    background-color: #fff;
    border-radius: 10px;
}
.profile-hero{
    background-color: #fff;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.hero-text p{
    color: #000;
    margin: 30px;
}
.user-detail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 30px;
}
.wallet{
    background-color: #fff;
    border-radius: 10px;
    width: 300px;


}
.wallet p{
    color:#8F8C40;
    padding-left: 20px;
}
.user-detail-header button{
    background-color: #fff;
    color: #8F8C40;
    height: 45px;
    width: 100px;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
}
.profile-title{
    background-color: #fff;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 40px;
}
.profile-title h2{
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: lighter;
    margin: 20px;
}
.land-owned-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    width: 90%;
    height: auto;
    margin: 30px;
}
.land-owned-div img{
    height:100%;
    margin: 30px;
}
hr{
    width: 100%;
}
.landimg{
    width: 50%;
}
.landimg img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.landinfo{
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}
.land-info p{
    color: #000;
}
.landinfo hr{
    width: 80%;
    margin-right:117px ;
}
.land-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.land-card {
    background-color: #fff;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.land-card {
    width: 87.5%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.land-card img {
    width: 50%;
    height: 100%;
    margin-right: 20px;
    object-fit: cover;
}

.land-card .land-info {
    flex: 1;
}
.loader {
  width: 85px;
  height: 50px;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(from -90deg at bottom 3px right 3px, #0000 90deg, #fff 0);
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
}

@keyframes l9 {
  0% {
    background-size: 25px 50%, 25px 50%, 25px 50%
  }
  25% {
    background-size: 25px 100%, 25px 50%, 25px 50%
  }
  50% {
    background-size: 25px 50%, 25px 100%, 25px 50%
  }
  75% {
    background-size: 25px 50%, 25px 50%, 25px 100%
  }
  100% {
    background-size: 25px 50%, 25px 50%, 25px 50%
  }
}

.loading-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
