.user-home-main {
    background-image: url("../image/userBackground.png");
    height: 95vh;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 98.5%;
    border-radius: 20px;
    margin: 15px;
  }
  .user_home_text {
    color: #ffff;
    font-weight: bold;
    letter-spacing: 2px;
    width: 600px;
    text-align: left;
    margin: 40px 100px;
    padding-top: 450px;
    font-size: 20px;
  }
  .logo img{
    width: 250px;
    height: auto;
    margin-left: 740px;
    margin-top: -20px;
    margin-bottom: 30px;
  }
  