.user-body-main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-body-main p {
  color: #8f8c40;
  margin-top: 30px;
}
.user-services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60vh;
  align-items: center;
  width: 70%;
  margin-top: -100px;
}
.land-reg,
.land-gallery,
.user-profile {
  background-color: #8f8c40;
  width: 200px;
  height: 215px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.land-gallery-logo,
.land-reg-logo,
.user-profile-logo {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.land-gallery-logo img,
.land-reg-logo img,
.user-profile-logo img {
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.user-feedback-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-feedback-div input {
  outline: none;
  border: 1px solid #8f8c40;
  width: 70%;
  height: 70px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.user-feedback-div input::placeholder {
  letter-spacing: 2px;
  color: #8f8c40;
}
.vote-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.vote-logo {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.vote-logo span {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.vote {
  margin-top: 40px;
}
.vote button {
  height: 45px;
  background-color: #8f8c40;
  width: 200px;
  color: #fff;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}
.vote-logo img {
  height: 200px;
  width: 200px;
}
.token-div {
  height: 41vh;
  width: 70%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.user-footer{
  width: 100%;
  margin-top: -250px;
}
.user-services button{
  width: 100%;
  height: 45px;
  margin-top: 20px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
}
.footer-foot p{
  color: #fff;
}
