.user-vote-main{
    background-color: #8F8C40;
    width: 98%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.user-vote-main h2{
    color: #fff;
}
.inspector-vote-table {
    width: 80%;
    border-collapse: collapse;
    border: none;
    background-color: #FFFFFF;
}

.inspector-vote-table th,
.inspector-vote-table td {
    padding: 20px;
    border: none; 
    letter-spacing: 2px;
}

.inspector-vote-table th {
    background-color: #FFFFFF;
    text-align: left;
    border-top: 3px solid #ccc; 
    border-bottom: 3px solid #ccc;
    padding-top: 40px; 
    padding-bottom: 40px; 
    letter-spacing: 1.5px;
}

.action-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.vote-button {
    background-color: #8F8C40;
    color: white;
    height: 40px;
    width: 100px;
}
.back-vote {
    background-color: transparent;
    position: fixed; 
    top: 20px; 
    left: 40px; 
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    letter-spacing: 2px;
}

 