.add-inspector-main {
  display: flex;
  flex-direction: row;
}
.add-inspector {
  margin-left: 250px;
  padding: 20px;
}

.add-inspector-form {
  max-width: 460px;
  margin-top: -700px;
  margin-left: 422px;
}

.add-inspector-form label {
  display: block;
  margin-bottom: 5px;
  margin: 10px;
  letter-spacing: 2px;
}
.add-inspector h2 {
  color: black;
  text-align: left;

}
.add-inspector-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom:20px ;
  letter-spacing: 2px;
}

.add-inspector-form input:focus {
  outline: none;
  border-color: #8F8C40;
}

.add-inspector-form input::placeholder {
  color: #aaa;
  letter-spacing: 2px;
}
.add-inspector button{
    height: 45px;
    width: 200px;
    background-color: #8F8C40;
    color: #fff;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    margin-top: 30px;
}
