.feedback-container{
    width: 70%;
    margin-left: 420px;
    margin-top: -700px;
    z-index: 1;
    position: relative;

}
.feedback-container h2{
    text-align: left;
    color: #000;
}
.feedback-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    height: 60px;
    background-color: rgba(143, 140, 64, 0.7); 
    color: #000;
    border-radius: 10px;
    z-index: -1;

}
.feedback-div p{
    margin-left: 30px;
    color: #000;
}
.stats h2{
    color: #fff;
}