.inspector-table-container {
    width: 70%;
    margin-left: 420px;
    margin-top: -700px;
    z-index: 1;
    position: relative;
}
.inspector-table-container h2{
    text-align: left;
    color: black;
}

.inspector-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.inspector-table th,
.inspector-table td {
    padding: 10px;
    border: none; 
    letter-spacing: 1px;
}

.inspector-table th {
    background-color: #FFFFFF;
    text-align: left;
    border-top: 3px solid #ccc; 
    border-bottom: 3px solid #ccc;
    padding-top: 40px; 
    padding-bottom: 40px; 
}
.inspector-table tbody{
    letter-spacing: 1px;
}

.action-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button {
    background-color: #b96059;
    color: white;
    height: 40px;
    width: 100px;
    letter-spacing: 2px;
}
.update-button{
    background-color: #8F8C40;
    color: white;
    height: 40px;
    width: 100px;
    letter-spacing: 2px;

}
.stats{
    background-color: #8F8C40;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.stats h2{
    border: 1px  solid #FFFFFF;
    border-radius: 10px;
    color: #fff;
    font-weight: lighter;
}