.owner-navigation,.owner-ul {
  display: flex;
  flex-direction: column;
  background-color: #8f8c40;
  height: 86.8vh;
}
.owner-navigation {
  width: 20%;
  margin-right: 20px;
  margin-top:-0.2px;
}
.owner-li{
    background-color: #fff;
    height:60px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.owner-li img{
    height: 40px;
    width: auto;
    object-fit: cover;
    margin: 1px;
}
.side-bar-header{
    background-color: #8f8c40;
    height: 100px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-bar-header h2{
    color: #fff;
}