.faq_hero {
  background-image: url("./image/image 14.png");
  height: 95vh;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 98.5%;
  border-radius: 20px;
  margin: 15px;
}

.faq_text {
  color: #ffff;
  font-weight: bold;
  letter-spacing: 2px;
  width: 600px;
  text-align: left;
  margin: 40px 100px;
  padding-top: 450px;
  font-size: 20px;
}

.faq_search {
  width: 500px;
  height: 60px;
  margin-left: 1100px;
  margin-top: -100px;
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
}

.faq_search select {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  text-align: center;
}

.faq_search button {
  background-color: #8f8c40;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-right: 8px;
  color: #ffff;
  margin-top: -1px;
}
.faq_search input[type="text"] {
  border: none;
}

.faq_search input[type="text"]::placeholder {
  left: 5px;
  position: relative;
}
.faq-footer {
  margin-top: 70px;
}
.accordion {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 320px;
  margin: 20px auto;
  padding: 0 50px;
}
.accordion h2 {
  font-size: 20px;
  margin-top: -20px;
  text-align: center;
  color: #8f8c40;
}
.accordion-item {
  margin-top: 16px;
  border: 1px solid #fcfcfc;
  border-radius: 6px;
  background: #8f8c40;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}
.accordion-item .accordion-item-desc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #363535;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  background: #ffffff;
}
.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
}
.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item-title
  .icon:after {
  content: "-";
  font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
  content: "+";
  font-size: 20px;
}
.accordion-item:first-child {
  margin-top: 0;
}
.accordion-item .icon {
  margin-left: 14px;
}
.accordion{
    margin-top: 100px;
}
.accordion-item-desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-item-desc.active {
  max-height: 200px; /* Adjust height as needed */
}
