.about_hero {
  background-image: url("./image/image 9.png");
  height: 95vh;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: 98.5%;
  border-radius: 20px;
  margin: 15px;
}

.about_text {
  color: #ffff;
  font-weight: bold;
  letter-spacing: 2px;
  width: 600px;
  text-align: left;
  margin: 40px 100px;
  padding-top: 450px;
  font-size: 20px;
}

.about_search {
  width: 500px;
  height: 60px;
  margin-left: 1100px;
  margin-top: -100px;
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
}

.about_search select {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  text-align: center;
}

.about_search button {
  background-color: #8f8c40;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-right: 8px;
  color: #ffff;
  margin-top: -1px;
}

.logo {
  margin-left: 635px;
  margin-top: -30px;
}

.about_search input[type='text'] {
  border: none;
}

.about_search input[type='text']::placeholder {
  left: 5px;
  position: relative;
}

.about-us-main {
  margin-top: 150px;
}

.about-us-intro img,
.about-us-background img,
.about-us-background img {
  object-fit: cover;
  height: 20rem;
  width: 30rem;
}

.about-us-intro,
.about-us-background {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.about-us-intro p,
.about-us-background p{
  text-align: left;
  width: 50%;
  letter-spacing: 2px;
  margin-left: 200px;
  color: black;
}
.about-us-mission{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.about-us-mission p{
  text-align: left;
  width: 50%;
  letter-spacing: 2px;
  margin-right: 200px;
  color: black;
}
.about-footer{
  margin-top: 20px;
}
