.detail-container {
    width: 100%;
    background-color: #8F8C40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.profile-header img {
    height: 50px;
    width: auto;
    object-fit: contain;
}


.profile-hero img {
    height: 100px;
    margin-right: 20px;
}

.hero-text p {
    font-size: 18px;
    color: #333;
}

.detail-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.detail-text {
    color: #000;
    margin-bottom: 10px;
    font-size: 16px;
}

.land-image {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    color: #fff;
    background-color: #8F8C40;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
}


.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.go-to-verify-button {
    position: relative;
    top: 350px;
    left: 44rem;
    background-color: #fff;
    color: #8F8C40;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 14px;
}

.details-land {
    background-color: #fff;
    width: 88%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    margin-top: 50px;
}

.details-land .detail-info {
    flex: 1;
    padding-right: 20px;
}

.details-land {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-image{
    display: flex;
    flex-direction: column;
}
.detail-image img {
    width: 95%;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    object-fit: cover;
}

.action-buttons {
    margin-left: -10px;
    letter-spacing: 2px;
}
.button-decline-button{
    padding: 15px 30px;
    margin: 10px;
    color: #fff;
    background-color: #ce4343;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    outline: none;
    letter-spacing: 2px;
}

.wallet-detail{
    background-color: #fff;
    border-radius: 10px;
    margin-right: 1230px;
    margin-top: 20px;
    height: 45px;
    width: 300px;
    text-align: center;
}
.wallet-detail p{
    color: #8F8C40;
}