.container-box{
    display: flex;
    background-color: #8F8C40;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-align: center;
  }
  .logo-container{
    margin-top: 90px;
    background-color: #fff;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  .logo-inspector{
    width: 300px;
    padding: 10px;
    margin: 10px;
  }
  .metamask-image{
    width: 200px;
    height: 200px;
  }
  .logo-container p{
    color: #000;
  }
  .logo-container button{
    width: 300px;
    background-color: #8F8C40;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #fff;
    font-size: 16px;
    margin-top: 40px;
  
  }
  .logo-container button img{
    width: 50px;
  }
  .logo-container p{
    font-size: 24px;
    letter-spacing: 5px;
  }
  .custom-alert-message {
    font-size: 10px; 
  }
  .home-link {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .home-link button {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 45px;
    width: 100px;
    letter-spacing: 2px;
    border-radius: 10px;
  }