.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 80%; 
  overflow: auto; 
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-content img{
  height: 80%;
  width: 100%;
  object-fit: cover;
}
