.table-scrollable {
    max-height: 450px;
    overflow-y: auto; /* Enable vertical scrolling */
}

.land-table-container {
    width: 70%;
    margin-left: 460px;
    margin-top: -700px;
    z-index: 1;
    position: relative;
    overflow: hidden; /* Hide overflowing content */
}

.land-table-container h2 {
    text-align: left;
    color: black;
}

.land-table {
    width: 100%; /* Adjust the width as needed */
    border-collapse: collapse;
    border: none;
}

.land-table th,
.land-table td {
    padding: 10px;
    border: none;
    letter-spacing: 1px;
}

.land-table th {
    background-color: #FFFFFF;
    text-align: left;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 1px;
}

.view-detail {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 10px;
}

.view-detail {
    background-color: #8F8C40;
    color: white;
    height: 40px;
    width: 100px;
}

.stats {
    background-color: #8F8C40;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.stats h2 {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #fff;
    font-weight: lighter;
}

.land-side-bar-header {
    background-color: #8F8C40;
    height: 100px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.land-side-bar-header h2 {
    color: #fff;
}
