.team_hero {
  background-image: url("./image/team.jpg");
  height: 95vh;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 98.5%;
  border-radius: 20px;
  margin: 15px;
}
.team_text {
  color: #ffff;
  font-weight: bold;
  letter-spacing: 2px;
  width: 600px;
  text-align: left;
  margin: 40px 100px;
  padding-top: 450px;
  font-size: 20px;
}

.team_search {
  width: 500px;
  height: 60px;
  margin-left: 1100px;
  margin-top: -100px;
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
}

.team_search select {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  text-align: center;
}

.team_search button {
  background-color: #8f8c40;
  width: 60px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  border: none;
  margin-right: 8px;
  color: #ffff;
  margin-top: -1px;
}
.team_search input[type="text"] {
  border: none;
}

.team_search input[type="text"]::placeholder {
  left: 5px;
  position: relative;
  font-size: 16px;
}
.team-footer {
  margin-top: 10px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.members {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.members img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.members h3 {
  margin: 10px 0;
  letter-spacing: 2px;
}

.members p {
  color: #8f8c40;
  letter-spacing: 2px;
}
h1{
    margin-top: 120px;
    margin-bottom: -60px;
    font-size: 20px;
    color: #8f8c40;
}
.why-work-with-us{
    display: flex;
    margin-top: 20px;
}
.team-left{
    height: 50vh;
    background-color: #8f8c40;
    width: 35%;
}
.team-left img{
    width: 100%;
    object-fit: contain;
}
.team-left h2{
    color: #ffff;
    text-align: left;
    margin-left: 30px;
}
.team-left p{
    color: #ffff;
    text-align: left;
    margin-left: 40px;
}
.team-right{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team-right p{
    color: black;
    text-align: left;
    font-size: 14px;
    margin-left: 50px;
    margin-bottom: 80px;
    width: 80%;
}
