
.agent_slider {
  margin: 30px auto;
  max-width: 1600px;
}

.agent {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
  width: calc(33.33% - 20px);
  max-width: 290px;
  letter-spacing: 1px;
}

.agent img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 35%;
  object-fit: cover;
  border-radius: 50%;
}

.agent h3 {
  font-size: 14px;
  font-weight: normal;
  color: #9B9B9B;
  letter-spacing: 2px;

}
.agent h4 {
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
}

.agent p {
  font-size: 14px;
  margin-bottom: 5px;
}
.agent-button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-left:48px;
}

.agent-button button {
  background-color: #f5f8f5;
  color: rgb(10, 10, 10);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 2px;
  height: 50px;
  background-color: #8F8C40;
  color: #fff;

}

.slick-dots li button {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  margin-top: -5px;
  color: #f5f8f5;
}

.agent_slider {
  height: 75vh;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 18px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.social-media{
  display: flex;
  width: 90%;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 9px;
}
.social-media img{
  height: 40px;
  width: 40px;
}
.h2{
  text-align: left;
  margin-left: 50px;
}
.p1{
  text-align: left;
  margin-left: 60px;
  margin-top: -20px;
}
