.footer {
  background-color: #8f8c40;
  height: 360px;
  margin-top: 4px;
  display: flex;
  justify-content: space-evenly;
}
.footer-logo {
  margin-right: 120px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer-sub h2 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: left;
  margin: 20px;
}
.footer_submit {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 20px;
}

.footer_submit input[type="text"] {
  flex: 1;
  height: 45px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.footer_submit input::placeholder {
  padding: 10px;
}

.footer_submit button {
  position: relative;
  margin-left: -50px;
  background-color: #8f8c40;
  height: 40px;
  width: 45px;
  border: none;
  border-radius: 10px;
}

.right-arrow {
  color: #fff;
}
.social-media-footer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-left: 50px;
  margin-top: 40px;
}
.social-media-footer img {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.footer-div1,
.footer-div3,
.footer-div4 {
  width: 25%;
}
.footer-div2 {
  color: #fff;
  letter-spacing: 2px;
}
.footer-div2 li {
  list-style-type: none;
  text-align: left;
  margin-left: -28px;
  margin-bottom: 50px;
  font-size: 16px;
}
.footer-div2 h2 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: left;
  margin-top: 50px;
}
.footer-div3 {
  color: #fff;
  letter-spacing: 2px;
}
.footer-div3 li {
  list-style-type: none;
  text-align: left;
  margin-left: -28px;
  margin-bottom: 50px;
  font-size: 16px;
}
.footer-div3 h2 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: left;
  margin-top: 50px;
}
.footer-div4 {
  color: #fff;
  letter-spacing: 2px;
}
.footer-div4 li {
  list-style-type: none;
  text-align: left;
  margin-left: -28px;
  margin-bottom: 50px;
  font-size: 16px;
}
.footer-div4 h2 {
  color: #fff;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: left;
  margin-top: 50px;
}
.footer-foot {
  height: 60px;
  margin-top: 2px;
  background-color: #8f8c40;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
