.getInTouch {
  display: flex;
  justify-content: start;
  border-radius: 10px;
  margin-top: 4px;
  letter-spacing: 2px;
}
.left {
  height: 600px;
  background-color: #8f8c40;
  width: 40%;

}
.circle_getintouch {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.getInTouch h2,p{
  color: #fff;
  letter-spacing: 2px;
}
.info-div {
  width: 60%;
  text-align: left;
  letter-spacing: 2px;
  margin-left: 150px;
  margin-top: -270px;
}
.info-div p {
  margin-bottom: 85px;
}
.social-media-getintouch {
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-left: 100px;
  align-items: center;
}
.git,
.link,
.face,
.insta {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.social-media-getintouch img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.right h2 {
    color: black;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-left: 130px;
    top: 0;
}

.get-in-touch-label {
    text-align: left;
    margin-left: 4px;
}

.get-in-touch-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 90%;
    margin-left: 140px;
    text-align: left;
}

.text-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: -11px;
    width: 100%;
}


.get-in-touch-form input[type='email'],
.get-in-touch-form input[type='subject'],
.get-in-touch-form input[type='name'],
.get-in-touch-form input[type='tel'] {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}
.get-in-touch-form input[type='text']{
    width: 415%;
    height: 100px;
    position: relative;
    letter-spacing: 2px;
}
.get-in-touch-form input[type='email']:focus,
.get-in-touch-form input[type='subject']:focus,
.get-in-touch-form input[type='name']:focus,
.get-in-touch-form input[type='tel']:focus {
    border-bottom: 2px solid #8F8C40;
}
.btn-message{
    background-color: #8F8C40;
    border: none;
    border-radius: 10px;
    height: 45px;
    color: #fff;
    letter-spacing: 2px;
    margin-left: 140px;
    margin-top: 63px;
    width: 150px;
}
.text-inputs input[type='text']::placeholder{
  position: absolute;
  top: 0; 
  left: 5px; 
  font-size: 14px;
  margin-top: 10px;
}