.home_hero {
  background-image: url("../image/background.jpg");
  height: 95vh;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 98.5%;
  border-radius: 20px;
  margin: 15px;
}
.home_text {
  color: #ffff;
  font-weight: bold;
  letter-spacing: 2px;
  width: 600px;
  text-align: left;
  margin: 40px 100px;
  padding-top: 450px;
  font-size: 20px;
}
.home_search {
  width: 500px;
  height: 60px;
  margin-left: 1100px;
  margin-top: -100px;
  display: flex;
  background-color: #ffff;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  
}
.home_search select {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  text-align: center;
}
.home_search button{
    background-color: #8F8C40;
    width: 60px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    border: none;
    margin-right: 8px;
    color: #ffff;
    margin-top: -1px;
}
.logo img{
  width: 250px;
  height: auto;
  margin-left: 740px;
  margin-top: -20px;
  margin-bottom: 30px;
}
.latestNews{
  margin-top:150px;
}
.featured_agent{
  background-color: #8F8C40;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  height: 70vh;
}
.featured_agent h2{
  color: #ffff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
h2{
  color: #8F8C40;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}
.get-in-touch{
  border-radius: 20px;
}
.get-in-touch-label{
  text-align: left;
}
@media (max-width: 768px) {
  .home_search {
      flex-direction: column;
  }

  .home_search select, .home_search button {
      min-width: 100%;
  }
}