nav {
  margin: 5px;
  width: 55%;
  position: relative;
  letter-spacing: 1.5px;
  height: 78px;
  z-index: 1;
}

nav::before,
nav::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

nav::before {
  left: 30px;
  transform-origin: left;
  transform: skewX(-35deg);
}

nav::after {
  right: 5px;
  transform-origin: right;
  transform: skewX(0deg);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
}

nav ul li {
  margin: 0 60px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
}

nav ul li a:hover {
  color: #8F8C40;
  text-decoration: underline;
  text-decoration-color: #8F8C40;
  transition: color 0.9s ease, text-decoration 0.3s ease, text-decoration-color 0.3s ease;

}

nav ul li a.active {
  text-decoration: underline; 
  text-transform: capitalize;
}
