.role{
    background-color: #8F8C40;
    height: 600px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.role a {
    text-decoration: none;
  }
.options{
    background-color: #fff;
    height: 470px;
    width: 85%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.contract-owner,.land-inspector,.users{
    background-color: #8F8C40;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 50px;

}
.image-contract,.image-inspector,.image-user{
    background-color: #fff;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px;
}

.role button{
    margin-top: 40px;
    margin-left: 28px;
    width: 200px;
    height:60px;
    background-color: #8F8C40;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    border-radius:10px ;
    font-size: 15px;
}
.select-role h2{
    text-align: center;
}