.main_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: 340px;
}
.service-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
}

.transfer,
.land-record,
.register-land {
  background-color: #8f8c40;
  height: 350px;
  width: 300px;
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: #fff;
  letter-spacing: 2px;
  justify-content: center;

}
.payments,
.token-exchange,
.market-platform {
  background-color: #fff;
  height: 350px;
  width: 300px;
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #8F8C40;
  letter-spacing: 2px;
}
.circle {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
}
.circle_1 {
  width: 150px;
  height: 150px;
  background-color: #8f8c40;
  border-radius: 50%;
}
.service_img {
  border-radius: 50%;
  height: 110px;
  width: 110px;
  object-fit: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
h5{
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
    text-decoration: underline; 
    text-decoration-skip-ink: none; 
    text-decoration-line: underline; 
    text-underline-position: under;
    line-height: 30px; 
}
.payments p,
.token-exchange p,
.market-platform p{
  background-color: #fff;
  height: 350px;
  width: 300px;
  padding: 10px;
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: #8F8C40;
  letter-spacing: 2px;
}