.slider {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    background-color: #D9D9D9;
    display: flex;
    justify-content: start;
  }
  
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.5s ease;
  }
  
  @media screen and (min-width: 600px) {
    .slide img {
      width: 50%;
      height: 50%;
    }
  }
  
  .slide img {
    height: 100%;
    display: flex;
    justify-content: start;
  }
  
  .current {
    opacity: 1;
    transform: translateX(0);
  }
  
  .content {
    margin-top: -100px;
    position: fixed;
    margin-left: 880px;
    opacity: 0;
    height: 55%;
    width: 40%;
    color: #fff;
    padding: 1rem;
    background: #8F8C40;
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    letter-spacing: 2px;
    border-radius: 20px;
}
  @keyframes slide-up {
    0% {
      visibility: visible;
      top: 280px;
    }
    100% {
      visibility: visible;
      top: 240px; 
    }
  }
  
  @media screen and (max-width: 600px) {
    .content {
      width: 80%;
    }
  }
  
  .content > * {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  
  .arrow {
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
  }
  
  .arrow:hover {
    background-color: #d6d6d6;
    color: #8F8C40;
  }
  
  .next {
    top: calc(50% - 1rem); /* Adjust the top position */
    right: 1.5rem;
  }
  
  .prev {
    top: calc(50% - 1rem); /* Adjust the top position */
    left: 1.5rem;
  }
  
  hr {
    height: 2px;
    background: white;
    width: 50%;
  }
  .news-btn{
    background-color: #fff;
    border: none;
    height: 50px;
    border-radius:10px ;
    width: 120px;
    margin-right: 500px;
    color:#8F8C40;
    letter-spacing: 2px;
    margin-top: 30px;
  }